.main-container {
  margin-top: 100px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.help-text {
  color: #909090;
}

.warning-text {
  text-align: center;
  color: rgb(224, 53, 53);
}

.back-button {
  text-align: center;
  margin-top: 50px;
}

.title {
  font-weight: bold;
  font-size: 18px;
}